
// Search bar for small screen devices
.searchmobile {
    display: none;
  }

  @media only screen and (max-width: 960px) {
.searchmobile {
    display: flex;
    position: relative;
    border-radius: 10px;
    border-style:solid;
    border-color:#f28531;
    background-color:#ffc266;
    margin-left: 0;
    margin-bottom: 5px;
    width: 100%;
  }
} 

// @media only screen and (max-width: 600px) {
//   .circle {
//     left: 24.67% !important;
//    }
//   } 