$color-background: #FFFFFF;
$color-main-accent: #FF9933;
$color-second-accent: #CCCCCC;
$color-third-accent: #66CCCC;
$color-font: #666666;
$color-white: #fff;

.card-header-down{
	margin-top: 50px !important;
	width: 100% !important;
	margin-left: 0px !important;
	border-radius: 0px !important;
}

.form-textbox{
	width: 100%;
	height: 30px;
	fieldset{
		border: 1px solid $color-main-accent;
		border-radius: 0px;
	}
}

.form-selectbox{
	width: 100%;
	height: 30px;
	fieldset{
		border: 1px solid $color-main-accent;
		border-radius: 0px;
	}
}

.form-button{
	background-color : #FF9933 !important;
	color : #fff !important;
	border-radius : 0 !important;
	font-size: 20px !important;
	padding: 15px !important;
	margin: 1px 1px 1px 1px !important;
}

.form-button-active{
	background-color : #fff !important;
	color : #FF9933 !important;
	border-radius : 0 !important;
	font-size: 20px !important;
	padding: 15px !important;
	margin: 1px 1px 1px 1px !important;
}

.form-button-small-size {
	min-height: 25px !important;
	padding: 5px !important;
	font-size: 12px !important;
}

.back-button {
	border-radius:10px !important;
	min-height: 20px !important;
	padding: 4px !important;
	font-size: 12px !important;
	border:2px solid #f28411;
	background-color:#ffc266 !important;
	color:#f28411 !important;
	font-weight:bold !important;
  }

.alert-message{
	display: flex;
	align-items: center;
	span{
		margin-left: 10px;
	}
}
.error{
	color: red;
	font-size: 13px;
}
.info{
	color: blue;
	font-size: 13px;
}