#professional-homebrew-switch{
	padding: 30px;
}

#add-homebrew-block{
	color: $color-font;
	.item-heading {
		font-weight: 600;
	}
	.item-description {
		min-height: 170px;
	}
	.quantity {
		.header {
			color: $color-main-accent;
			font-size: 13px;
		}
		.input-textbox {
			width: 70px;
			margin:0px;
			margin-top: 5px;
			padding: 2px;
		}
	}
	.btn {
		padding: 12px !important;
	}

	.next-btn {
		padding: 8px 20px 8px 40px;
		text-align:center;
		text-decoration: none; 
		text-shadow:0px 1px 0px $color-main-accent;
		color: $color-main-accent;
		position: relative; text-shadow:1px 0 0 #000;
		background: $color-main-accent; 
		width:50px;
	}

	.next-btn ::after,
	.next-btn ::before{
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -24px;   
		border-top: 24px solid transparent;
		border-bottom: 24px solid transparent;
		border-left: 1em solid;
		right: -1em;
	}
	.next-btn ::after{   
		z-index: 2;  
		border-left-color: $color-main-accent;   
	}


	.prev-btn {
		padding: 8px 20px 8px 40px;
		text-align:center;
		text-decoration: none; 
		text-shadow:0px 1px 0px $color-main-accent;
		color: $color-main-accent;
		position: relative; text-shadow:1px 0 0 #000;
		background: $color-main-accent; 
		width:50px;
	}

	.prev-btn ::after,
	.prev-btn ::before{
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -24px;   
		border-top: 24px solid transparent;
		border-bottom: 24px solid transparent;
		border-right: 1em solid;
		left: -1em;
	}
	.prev-btn ::after{   
		z-index: 2;  
		border-right-color: $color-main-accent;   
	}



}